body{
    background-color: rgb(34,34,34);
    color: white;
    font-family: poppinsregular;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;           
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#title{
    flex-direction: column;
    line-height: 10px;
       
}

li{
    display: inline-block;
    margin: 20px;
}


a{
    color: white;
}

a:hover{
    color:rgb(132,14,201);
    transition: 0,3s all;

}
#Inscreva-se-btn{
    border: 2px solid rgb(132,14,201);
    padding: 10px;
    border-radius: 15px;
}


#Inscreva-se-btn:hover{
    background-color: rgb(132,14,201);
    color: white;
}


h1{
    font-weight: 100;
}


main{
   display: flex;
   flex-direction: row;
   margin-top: 50px; 
}

h2{
    font-size: 56px;
    line-height: 16px;
    font-family: poppinsmedium;
}

span{
    color: rgb(132,14,201);
}

p{
    line-height: 20px;
    max-width: 500px;
    font-family: poppinslight;
}

img{
    width: 580px;
    

}

form{
    display: flex;
    flex-direction: column;
    width: 70%;
}

input[type="submit"]{
    height: 50px;
    width: 350px;
    background-color: rgb(132,14,201);
    color: white;
    font-weight: bold; 
    
}

input[type="submit"]:hover{
    cursor: pointer; 
    color: rgb(219, 219, 219);
}

.animation {animation: bounce 2s infinite;}
@keyframes bounce{
    0% {transform: translateY(0);}
    40% {transform: translateY(-20px);}
    20% {transform: translateY(-10px);}
    

}

input{
    margin-top: 20px;
    height: 20px;
    padding: 15px;
    border-radius: 20px;
    border: none;
    font-size: 15px;
}

.footer-icons {
    display: inline-block;
    margin: 20px;
    font-size: 30px;
    position: absolute;
    bottom: 0;
    right: 0;

}

footer {
    background-color: rgb(132,14,201); /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto no rodapé */
    padding: 30px; /* Espaçamento interno do rodapé */
    width: 100%; /* Define a largura do rodapé como 100% da largura da janela do navegador */
    position: fixed; /* Fixa o rodapé na parte inferior da janela do navegador */
    bottom: 0; /* Coloca o rodapé na parte inferior */
    left: 0; /* Alinha o rodapé à esquerda */
}



